* {
    padding: 0;
    margin: 0;
}

body {
    font-family: MicrosoftYahei, sans-serif;
}

ul {
    list-style: none;
}

body {
    max-width: 640px;
    margin: 0 auto;
}

.top-story {
    position: relative;
    max-width: 640px;
    height: 500px;
    margin: 0 auto;
    background: url(1.jpg);
}

.main {
    overflow: hidden;
}

.setting {
    position: fixed;
    top: 22px;
    right: 30px;
    width: 36px;
    height: 30px;
    background: url(imgs/setting.png);
    z-index: 100;
}

.slides {
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.top-titles {
    color: #fff;
    width: 500%;
    font-size: 40px;
    overflow: hidden;
}

.top-titles li {
    float: left;
    width: 580px;
    padding: 30px;
}

.spots {
    overflow: hidden;
}

.spots li {
    background: url(imgs/button.png);
    height: 14px;
    width: 14px;
    display: inline-block;
    margin-right: 18px;
    opacity: 0.3;
    cursor: pointer;
}

.spots .on {
    opacity: 1;
}

.news {
    width: 100%;
}

.daily-title {
    font-size: 28px;
    text-align: left;
}

.daily-title span {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 28px 24px;
}

.entry {
    font-size: 30px;
    line-height: 1.5;
    color: #b8b8b8;
    padding: 26px 40px 30px 20px;
    overflow: hidden;
}

.thumbnail {
    float: left;
}

.news-title {
    margin-left: 140px;
    display: block;
    text-decoration: none;
}

.news-title:visited {
    color: #888;
}

/* theme light */
.theme-light .news {
    background-color: #fff;
}

.theme-light .today {
    background-color: #20b4f1;
    color: #fff;
}

.theme-light .date {
    background-color: #009dd7;
    color: #a0e3ff;
}

.theme-light .news-title {
    color: #333;
}

.theme-light .news-title:visited {
    color: #6a6a6a;
}

.theme-light .entry {
    border-bottom: 3px solid #f6f6f6;
}

/* theme dark */
.theme-dark .news {
    background-color: #343434;
}

.theme-dark .today {
    background-color: #555;
    color: #b8b8b8;
}

.theme-dark .date {
    background-color: #444;
    color: #888;
}

.theme-dark .news-title {
    color: #b8b8b8;
}

.theme-dark .news-title:visited {
    color: #888;
}

.theme-dark .entry {
    border-bottom: 3px solid #303030;
}